/* Контейнер для всіх продуктів */
.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Стилі для кожного продукту */
.item {
    background-color: white;
    padding: 20px;
    border: 1px solid #aa7070;
    border-radius: 5px;
    width: calc(25% - 40px); /* Для 4 колонок */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
    margin-bottom: 20px;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    /* height: auto; */
    height: 200px;

}

.name {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.price {
    font-size: 1.2em;
    color: #e74c3c;
    font-weight: bold;
}
