{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'users/css/register.css' %}">
{% endblock %}

{% block content %}
 <form action="" method="post" class="register">
    {% csrf_token %}
    <label for="firstname">Ім'я</label>
    <input type="text" name="firstname" id="firstname" value="{{first_name}}" required>

    <label for="lastname">Фамілія</label>
    <input type="text" name="lastname" id="lastname" value="{{lastname}}" required>

    <label for="email">Email</label>
    <input type="email" name="email" value="{{email}}" id="email" required>

    <label for="username">Логін</label>
    <input type="text" name="username" id="username" value="{{username}}" required>

    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" required>

    <label for="phone_number">Номер телефону</label>
    <input type="tel" name="phone_number" id="phone_number" value="{{phone_number}}" required>

    <button>Регістрація</button>
    <h1>{{error}}</h1>
    
 </form>
{% endblock %}