.register {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    margin-top: 50px;
}

.register label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.register input[type="text"],
.register input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.register button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register button:hover {
    background-color: #218838;
}

.register h1 {
    color: #d9534f;
    font-size: 14px;
    text-align: center;
}

.register p {
    margin-top: 20px;
    text-align: center;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
