{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'catalog/css/products.css' %}">
{% endblock %}
{% block content %}
    <div class="items">
        {% for product in products%}

            <div class="item">
                <a href="/products/{{product.category.name}}/{{product.id}}">
                    <img src="{{product.images.first.image.url}}" alt="product.images.first.url_text">
                    <h1 class="name">{{product.name}}</h1>
                </a>
                <p>{{product.price}}</p>
                <button class="add_to_cart" id="add_to_cart_{{product.id}}">В кошик</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}